<footer class="site-footer">

  <div class="wrapper">


<!-- disquss -->


<!-- disquss -->

<!-- Google Analitics -->

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4894954-48"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-4894954-48');
</script>


<!-- Google Analitics -->


    <h2 class="footer-heading" align="center"><a href="http://jsdev.org">jsdev.org</a> || <a href="http://javadev.org">javadev.org</a></h2>
        <p align="center">Opensource project with codes on <a href="https://bitbucket.org/jsdev-org/labs.jsdev.org">bitbucket</a>.

            <br/>

            <strong>GitHub Blocked my Free Accounts without any Warnings and Notifications</strong><br/>
            <strong>GitHub F@ck you !!!</strong>

        </p>
    </div>

</footer>
